.create-your-own {
  position: relative;
  padding: 10px;
  .chain-page {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    overflow-y: scroll;
    .item-container {
      width: fit-content;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      padding: 10px;
      background-color: white;
      margin: 5px;
      .item-img {
        width: 150px;
        height: 150px;
      }
    }
  }
}
.next-banner {
  position: absolute;
  height: 80px;
  bottom: 0;
  width: 100%;

  button {
    font-size: 20px;
    padding: 8px 20px;
    
  }
}
