.home-page {
  width: 100%;
  // height: 100%;
  overflow: scroll;
  font-family: Karantina-light;
  position: relative;
  .main-header {
    font-weight: 100;
    margin: 20px 0 8px 0;
    font-family: Lust;
  }
  .cards-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    // background-color: #f9cdd5;
    .card {
        
        display: flex;
        flex-shrink: 0;
        font-size: 30px;
        font-family: Karantina-light;
        font-stretch: extra-expanded;
        margin: 5px auto;
        border-radius: 5px;
        padding: 10px 10px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        padding: 0 20px;
      .image {
        width: 200px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 7px;
      }
      .necklace {
        background-image: url("../../Assets/Images/necklace.webp");
      }
      .bracelet {
        background-image: url("../../Assets/Images/bracelet.webp");
      }
    }
  }
}
