.home-page {
  // height: 100%;
  overflow: scroll;
  font-family: Karantina-light;
  position: relative;
  padding: 10px;
  .main-header {
    font-weight: 100;
    margin: 20px 0 8px 0;
    font-family: Lust;
  }
  .cards-grid {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    .card {
        width: fit-content;
        display: flex;
        flex-shrink: 0;
        font-size: 25px;
        font-family: Karantina-light;
        font-stretch: extra-expanded;
        margin: auto;
        border-radius: 5px;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        flex-direction: column;
      .image {
        width: 100px;
        height: 100px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-bottom: 7px;
      }
      .necklace {
        background-image: url("../../Assets/Images/necklace.webp");
      }
      .bracelet {
        background-image: url("../../Assets/Images/bracelet.webp");
      }
    }
  }

  .products {
    width: 100%;
    display: flex;
    font-size: 40px;
    justify-content: space-evenly;
    margin: 20px 0;
  }
}
