@font-face {
  font-family: Lora-Italic;
  src: url('./Assets/Fonts/Lora-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: Lora;
  src: url('./Assets/Fonts/Lora-Regular.ttf');
}

@font-face {
  font-family: Lust;
  src: url('./Assets/Fonts/Lust\ Regular.woff.otf');
}

@font-face {
  font-family: Karantina-light;
  src: url('./Assets/Fonts/Karantina-Light.ttf');
}

.App {
  text-align: center;
  background-color: #f5f4f1;
  width: 100vw;
  height: 100vh;
  color: #c7582b;
  direction: rtl;
}

